{% extends "base.html" %}
{% block titulo %}Trocar senha{% endblock %}
{% block conteudo %}
<div class="cabecalho-pagina"><div><h1>Trocar senha</h1></div></div>
<div class="row"><div class="col-lg-6">
  <form method="post" class="bloco" novalidate>{% csrf_token %}
    {% include "partials/erros_form.html" %}
    {% for campo in form %}{% include "partials/campo.html" %}{% endfor %}
    <button class="btn btn-primary" type="submit">Salvar nova senha</button>
    <a class="btn btn-link" href="{% url 'painel:inicio' %}">Cancelar</a>
  </form>
</div></div>
{% endblock %}
